<section class="apartment container">
    <h2 class="apartment-title">Choose your apartment</h2>
    <ul class="apartment-card-list">
      <li class="apartment-card-item">
        <picture class="pic">
          <source srcset="./images/desktop-img/apartment1.webp 1x, ./images/desktop-img/apartment1_2x.webp 2x"
            media="(min-width: 1200px)" />
          <source srcset="./images/tablet-img/apartment1.webp 1x, ./images/tablet-img/apartment1_2x.webp 2x"
            media="(min-width: 768px)" /> 
          <source srcset="./images/mobile-img/apartment1.webp 1x, ./images/mobile-img/apartament1@2x.webp 2x" />
          <img class="apartment-img" src="./images/mobile-img/apartment1.webp" alt="apartment" width="" height="">
        </picture>
        <h3 class="apartment-card-title">Type 1</h3>
        <p class="apartment-card-text">total area 23 meters</p>
      </li>
      <li class="apartment-card-item">
        <picture class="pic">
          <source srcset="./images/desktop-img/apartment2.webp 1x, ./images/desktop-img/apartment2_2x.webp 2x"
            media="(min-width: 1200px)" />
          <source srcset="./images/tablet-img/apartment2.webp 1x, ./images/tablet-img/apartment2_2x.webp 2x"
            media="(min-width: 768px)" /> 
          <source srcset="./images/mobile-img/apartment2.webp 1x, ./images/mobile-img/apartment2_2x.webp 2x" />
          <img class="apartment-img" src="./images/mobile-img/apartment2_2x.webp" alt="apartment" width="" height="">
        </picture>
        <h3 class="apartment-card-title">Type 2</h3>
        <p class="apartment-card-text">total area 27 meters</p>
      </li>
      <li class="apartment-card-item">
        <picture class="pic">
          <source srcset="./images/desktop-img/apartment3.webp 1x, ./images/desktop-img/apartment3_2x.webp 2x"
            media="(min-width: 1200px)" />
          <source srcset="./images/tablet-img/apartment3.webp 1x, ./images/tablet-img/apartment3_2x.webp 2x"
            media="(min-width: 768px)" /> 
          <source srcset="images/mobile-img/apartment3.webp 1x, images/mobile-img/apartment3_x2.webp 2x" />
          <img class="apartment-img" src="./images/mobile-img/apartment3.webp" alt="apartment" width="" height="">
        </picture>
        <h3 class="apartment-card-title">Type 3</h3>
        <p class="apartment-card-text">total area 31 meters</p>
      </li>
    </ul>
    <div class="ap-btn-box"><button class="apartment-btn">Download catalog</button></div>
  </section>