<section class="contact">
  <h2 class="contact-title">Get in touch!</h2>
  <p class="contact-text">Contact us for a quote.</p>
  <div class="contact-box">
    <ul class="contact-list">
      <li class="contact-item">
        <svg class="contact-icon" width="24" height="24" >
        
          <use href="images/symbol-defs.svg#icon-map"></use>
          
        </svg>
        <p class="contact-item-text">4517 Washington Ave.</p>
      </li>
      <li class="contact-item">
        <svg class="contact-icon" width="24" height="24">
       
          <use href="images/symbol-defs.svg#icon-email"></use>
          
        </svg>
        <p class="contact-item-text">willie.jennings@example.com</p>
      </li>
      <li class="contact-item">
        <svg class="contact-icon" width="24" height="24">
       
          <use href="images/symbol-defs.svg#icon-phone"></use>
         
        </svg>
        <a class="contact-item-text">(+33)7 00 55 54 79</a>

        <p class="contact-item-text">(+33)7 00 55 54 79</p>
      </li>
    </ul>
    <button class="contact-us">Contact us</button>
  </div>
</section>