<footer class="footer">
  <div class="container">
<div class="tablet-footer-box">
<div class="first-box">
  <div class="navigation-list-box">
  <h3 class="footer-nav-title">Navigation</h3>
  <ul class="footer-nav-list">
    <li class="footer-nav-item"><a href="">Home</a></li>
    <li class="footer-nav-item"><a href="">About</a></li>
    <li class="footer-nav-item"><a href="">Apartments</a></li>
    <li class="footer-nav-item"><a href="">Infrastructure</a></li>
    <li class="footer-nav-item"><a href="">Gallery</a></li>
  </ul>
  
</div>
  <div class="contact-list-box">
   <h3 class="footer-contacts-title"><a href="">Contacts</a></h3>
    <ul class="footer-contacts-list">
      <li class="footer-contacts-item"><a href="tel:+(406) 555-0120">(406) 555-0120</a></li>
      <li class="footer-contacts-item">
      <a href="">ul. Chodkiewicza Karola 111, Chorzów</a>
      </li>
     <li class="footer-contacts-item"><a href="mailto:deanna.curtis@example.com">deanna.curtis@ <br> example.com</a></li>
    </ul>
  </div>
</div>
  <ul class="footer-icon-list">
    <li class="footer-icon-item">
      <svg class="footer-icon" width="24" height="24">
        <use href="images/symbol-defs.svg#youtube"></use>
        
      </svg>
    </li>
    <li class="footer-icon-item">
      <svg class="footer-icon" width="24" height="24">
        <use href="images/symbol-defs.svg#insta"></use>
        
      </svg>
    </li>
    <li class="footer-icon-item">
      <svg class="footer-icon" width="24" height="24">
        <use href="images/symbol-defs.svg#twiter"></use>
        
      </svg>
    </li>
    <li class="footer-icon-item">
      <svg class="footer-icon" width="24" height="24">
        <use href="images/symbol-defs.svg#facebook"></use>
      
      </svg>
    </li>
  </ul>
</div>
  <p class="footer-policy">
    By using this website, you agree to the
    <a href="#" class="team-service">Terms of Service</a> and <a href="#" class="privacy-policy">Privacy Policy</a>
  </p>
</div>
</footer>  