<header class="header">
  <svg class="logo" width="49" height="43">
    <use href="./images/symbol-defs.svg#logo"></use>
  </svg>
  <!-- <a href="/" class="logo">NICE VIEW</a> -->
  <nav class="header-nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item"><a href="#">Apartments</a></li>
      <li class="nav-item"><a href="#">Infrastructure</a></li>
      <li class="nav-item"><a href="#">Gallery</a></li>
      <li class="nav-item"><a href="#">Contacts</a></li>
    </ul>
  </nav>
  <svg class="open-menu open-modal" width="24" height="24" data-modal="modal4">
    <use href="./images/symbol-defs.svg#menu"></use>
  </svg>

  <button class="header-btn open-modal" data-modal="modal2">Contact us</button>
</header>
