<header class="header">
  <svg class="logo" width="49" height="43">
    <use href="./src/images/Logo.svg#NICE VIEW"></use>
  </svg>
  <nav class="header-nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item"><a href="#">Apartments</a></li>
      <li class="nav-item"><a href="#">Infrastructure</a></li>
      <li class="nav-item"><a href="#">Gallery</a></li>
      <li class="nav-item"><a href="#">Contacts</a></li>
    </ul>
  </nav>
  <svg class="open-menu">
    <use href="/src/images/symbol-defs.svg#menu"></use>
  </svg>
  <button class="header-btn">Contact us</button>
</header>
