<header class="header">
    <a href="#" class="logo"></a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">About</a></li>
        <li class="nav-item"><a href="#">Apartments</a></li>
        <li class="nav-item"><a href="#">Infrastructure</a></li>
        <li class="nav-item"><a href="#">Gallery</a></li>
        <li class="nav-item"><a href="#">Contacts</a></li>
        <button class="hero-button btn-open js-open-modal">
          Contact us
        </button>
        <div class="backdrop is-hidden js-modal">
          <div class="modal">
      </ul>
    </nav>
  