<section class="hero">
    <h1 class="hero-title">Nice view</h1>
    <p class="hero-text">For your comfortable life with your family</p>
    <button class="open-modal hero-button" data-modal="modal2" type="button">
      Contact us
    </button>
    <!-- <div class="backdrop is-hidden js-modal">
      <div class="modal">
        <button class="btn-close js-close-modal">
          <svg class="icon-cancel" width="18" height="18">
          </svg>
          <ul class="card-list">
           <h2>Leave your contacts and we will contact you</h2>
           <li><form>
            <input type="text">
          </form>
          </li>
           <li><form>
            <input type="text">
          </form>
          </li>
           <li><form>
            <input type="text">
          </form>
          </li>
           <button>Contact us</button>
          </ul> 
        </button>-->
  </section>