<section class="infrastructure container">
  <h2 class="infrastructure-title">Infrastructure</h2>
  <div class="infrastructure-background ">
    <ul class="infrastructure-list">
      <li class="infrastructure-item">
        <p class="infrastructure-circletext">2 minutes walk</p>
        <p class="infrastructure-text">to the supermarket</p>
      </li>
      <li class="infrastructure-item">
        <p class="infrastructure-text">to the coffe shop</p>
        <p class="infrastructure-circletext">4 minutes walk</p>
      </li>
      <li class="infrastructure-item">
        <p class="infrastructure-circletext">7 minutes walk</p>
        <p class="infrastructure-text">to the nearest park</p>
      </li>
    </ul>
  </div>
</section>