<div class="modal" id="modal3">
    <div class="modal-content-adress">
      <button class="close-modal"><svg class="svg-close" width="18" height="18">
        <use class="modal-apt-img" href="images/symbol-defs.svg#close"></use>
      </svg></button>
      <img class="modal-adress-img" src="/src/images/Adres.jpg" alt="">
      <h3 class="modal-adress-title">Download the catalog</h3>
      <p class="modal-adress-text">We  will send you more photos, 
        videos and information by mail</p>
      <form class="modal-form-contact" >
        <label><input class="modal-adress-send" type="text" placeholder="EMAIL ADRESS"/>
          <button class="modal-send-btn open-modal" data-modal="modal4"><svg class="" width="18" height="18">
            <use class=""  href="images/symbol-defs.svg#send"></use>
          </svg></button></label>
      </form>
    </div>
  </div>
  