<div class="modal" id="modal2">
  <div class="modal-content">
    <button class="close-modal"><svg class="svg-close" width="18" height="18">
      <use class="modal-apt-img" href="images/symbol-defs.svg#close"></use>
    </svg></button>
    <h3>Leave your contacts and we will contact you</h3>
    <form class="modal-form-contact">
      <label>Name<input type="text" /></label>
      <label>Name<input type="text" /></label>
      <label>Name<input type="text" /></label>
    </form>
  </div>
</div>
