<section class="philosophy">
    <div class="philosophy-box2 container">
      <ul class="philosophy-card-list">
        <div>
          <li class="philosophy-card-item philosophy-card1">
            <svg class="philosophy-icon">
              <use href="img/symbol-defs.svg#suitcase"> </use>
            </svg>
            <p class="philosophy-card-text">15 years of experience</p>
          </li>
          <li class="philosophy-card-item philosophy-card1">
            <svg class="philosophy-icon">
              <use href="img/symbol-defs.svg#home"></use>
            </svg>
            <p class="philosophy-card-text">22 houses built</p>
          </li>
        </div>
        <div>
          <li class="philosophy-card-item">
            <svg class="philosophy-icon">
              <use href="img/symbol-defs.svg#graph"></use>
            </svg>
            <p class="philosophy-card-text">30 thousand happy residents</p>
          </li>
          <li class="philosophy-card-item">
            <svg class="philosophy-icon">
              <use href="img/symbol-defs.svg#start"></use>
            </svg>
            <p class="philosophy-card-text">9 awards</p>
          </li>
        </div>
      </ul>
      <div>
        <h2 class="philosophy-title">Philosophy of our company</h2>
        <p class="philosophy-text">
          Residential complex “Nice view” is an island of tranquility, security
          and comfort. In our project, we created the opportunity to lead a
          measured life in the very center of the city.
        </p>
      </div>
    </div>
    </p>
    </div>
  </section>