.modal-form-contact {
    display: flex;
    flex-direction: column;
}

.modal-title {
    color: #35322D;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.modal-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.modal-input {
    width: 280px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid #35322D;
    background: #FCFCFB;
    padding: 16px;
}

.btn-box{
    display: flex;
    justify-content: center;
}
.contactus-btn{
    display: flex;
    padding: 9px 65px;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    color: #FCFCFB;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #7E6D53;
    border:none
}

@media screen and (min-width: 768px) {

    .modal-title {
        text-align: center;
        font-size: 28px;
    }

    .modal-form-contact {
        align-items: center;
    }

    .modal-input {
        width: 410px;
        height: 52px;
        border-radius: 16px;
        border: 1px solid #3A3631;
        background: #FCFCFB;
    }
    .contactus-btn{
        width: 224px;
        height: 54px;
        padding: 6px 0px;
    }

}